.Landing .one {
  // height: 400px;
  background-color: rgb(238, 173, 77);
  text-align: center;
  padding: 35px 0;
}

.Landing p {
  padding: 30px;
  font-size: 3.8rem;
  font-family: "sam";
  color: rgb(148, 107, 45);
}

// .Landing .two {
//   height: 50px;
//   background-color: rgb(255, 247, 235);
// }
