.profile-wrapper {
  position: relative;

  margin: 10px;
  box-sizing: content-box;

  cursor: pointer;
  user-select: none;
  height: 30px;
  width: 30px;
  margin: auto 0;
  color: var(--clr-grey);
}

.profile {
  // border: 1px solid black;

  // padding: 0 10px;
  position: relative;
  border-radius: 20px;
  // border-radius: 50%;
  background-color: var(--color-bg-test1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  margin-left: auto;
  margin-right: 0;
  // height: var(--height-primary);
  height: 100%;
  // box-sizing: content-box; // seems to cause too many layout issue (pixel alignment)
  // border: 1px solid rgb(228, 228, 228);

  // color: var(--color-bg-darker3);
}

.profile .icon {
  font-size: 1.5rem;
}
