.Profile {
  position: relative;
  flex-shrink: 0;
  box-sizing: content-box;
  height: 40px;
  width: 40px;
  // aspect-ratio: 1;
  margin: auto 0px auto 0px;
  cursor: pointer;

  color: var(--clr-grey);
  border-radius: 50%;
}

.Profile:hover {
  background-color: rgb(241, 241, 241);
}

.profile {
  // border: 1px solid black;

  // padding: 0 10px;
  position: relative;
  // border-radius: 50%;
  margin-left: auto;
  margin-right: 0;
  // height: var(--height-primary);
  height: 100%;
  font-size: 3rem;

  // box-sizing: content-box; // seems to cause too many layout issue (pixel alignment)
  // border: 1px solid rgb(228, 228, 228);

  // color: var(--color-bg-darker3);
}

@media only screen and (min-width: 700px) {
  .Profile {
    margin: auto 10px auto 0;
    height: 45px;
    width: 45px;
  }
}
