.NavSearch {
  flex-shrink: 0;
  margin: auto 5px auto 0px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  // aspect-ratio: 1; // not respected in mobile
}

.search {
  // border: 1px solid black;
  font-size: 1.8rem;
  height: 100%;
  // aspect-ratio: 1; // warning - this creates a random margin-right in Safari
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  // background-color: rgb(243, 243, 243);
  color: grey;

  // box-sizing: content-box; // seems to cause too many layout issue (pixel alignment)
}

.NavSearch:hover {
  background-color: rgb(241, 241, 241);
}

.search.desktop {
  width: 350px;
}

.search .icon {
  font-size: 1.5rem;
}

@media only screen and (min-width: 710px) {
  .NavSearch {
    height: 45px;
    width: 45px;
    margin: auto 30px auto 0px;
  }
}
