.NavSearch {
  margin: auto 10px auto 0;
}

.search {
  border: 1px solid black;

  height: 30px;
  width: 30px;
  // aspect-ratio: 1; // warning - this creates a random margin-right in Safari
  border-radius: 20px; // ensures fully rounded corners
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  padding: 4px;
  color: var(--clr-grey);
  // box-sizing: content-box; // seems to cause too many layout issue (pixel alignment)
}

.search.desktop {
  width: 350px;
}

.search .icon {
  font-size: 1.5rem;
}
