.Page {
  // border: 1px solid green;
  // height: 300px;
  // width: 100%;
}

.Page .container {
  // border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 500px;
  gap: 13px;
  padding: 10px;
  padding-top: 13px;
  // margin-top: 10px;
}

.Page .container > .item {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.367);
}

.Page img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.Page .item h1 {
  // border: 1px solid red;
  padding: 5px 0px;
  font-size: 1.5rem;
}

.Page .item .content {
  padding: 7px 10px 10px 10px;
  line-height: 2rem;
}

.item1 {
  // height: 20px;
  // background-color: pink;
  // height: 100px;

  // width: 50px;
  // justify-self: end;
}

.item2 {
  // background-color: blue;
  // height: 100px;
}

.item3 {
  // background-color: red;
  // height: 100px;
}

.item4 {
  // background-color: green;
  // height: 100px;
}
