.Page {
  // border: 1px solid green;
  // height: 300px;
  // width: 100%;
}

.Page .container {
  // border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  gap: 5px;
  padding: 5px;
  padding-top: 7px;
  // margin-top: 10px;
}

.Page .container > * {
  border-radius: 12px;
}

.item1 {
  // height: 20px;
  background-color: pink;
  // height: 100px;

  // width: 50px;
  // justify-self: end;
}

.item2 {
  background-color: blue;
  // height: 100px;
}

.item3 {
  background-color: red;
  // height: 100px;
}

.item4 {
  background-color: green;
  // height: 100px;
}
