.Page {
  // border: 1px solid green;
  // height: 300px;
  // width: 100%;
}

.Page .container {
  // border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  gap: 13px;
  padding: 10px;
  padding-top: 13px;
  // margin-top: 10px;
}

.Page .container > .item {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
}

.Page img {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.item1 {
  // height: 20px;
  // background-color: pink;
  // height: 100px;

  // width: 50px;
  // justify-self: end;
}

.item2 {
  // background-color: blue;
  // height: 100px;
}

.item3 {
  // background-color: red;
  // height: 100px;
}

.item4 {
  // background-color: green;
  // height: 100px;
}
