.DropDown {
  border: 1px solid black;
  position: absolute;
  right: 0px;
  display: none;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  width: 150px;
  margin-top: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
}

.profile-wrapper.open .DropDown {
  display: block;
}

.DropDown li {
  padding: 10px;
}

.DropDown li:not(.header):hover {
  background-color: #f7f7f7;
}

.DropDown li.logout {
  border-top: 1px solid grey;
}

.DropDown li.logout:hover {
  border-top: 1px solid grey;
}

.DropDown li.header {
  border-bottom: 1px solid #deedee;
}
