.Landing .one {
  background-image: url(../../images/treeTrunk_2400w.png);
  background-size: contain;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-color: #eead4d;
  background-color: #745830;
  background-position: center;
  text-align: center;
  padding: 30px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.467);
  position: relative;
  z-index: 9;
}

.Landing p {
  padding: 30px;
  font-size: 3.8rem;
  font-family: "sam";
  color: #805515;
  color: white;
}

@media only screen and (min-width: 730px) {
  .Landing .one {
    background-size: cover;
    background-attachment: fixed;
  }
}
