.Nav {
  height: 60px;
}

.nav {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) auto minmax(max-content, 1fr);
  grid-template-rows: 100%;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.467);
  height: 60px;
  width: 100%;
  background-color: white;
  padding: 10px;
  z-index: 999;
}

.Nav .leftMenu {
  display: flex;
  justify-content: flex-start;
}

.menuToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px auto 0px;
  padding: 5px;
  border-radius: 5px;
  color: grey;
  font-size: 2rem;
  height: 40px;
  width: 40px;
  aspect-ratio: 1;
}

.menuToggle:hover {
  background-color: #f1f1f1;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

img.logo {
  display: none;
}

.logoName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 40px;
  margin: auto 10px auto 10px;
  border-radius: 20px;
  font-size: 3.8rem;
  font-family: "sam";
  transform: translateY(2px) translateX(-2px);
}

.space {
  flex-grow: 1;
}

.navMenu {
  display: none;
}

.rightMenu {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 700px) {
  .Nav {
    height: 80px;
  }
  .nav {
    height: 80px;
    grid-template-columns: 1fr 1fr;
  }
  .Nav .leftMenu {
    display: none;
  }
  .Nav img.logo {
    height: 80%;
    width: auto;
    display: block;
    opacity: 0.65;
    margin: auto 0 auto 10px;
  }
  .logoName {
    justify-content: flex-start;
    margin-left: 20px;
    color: var(--clr-grey);
  }
  .navMenu {
    display: flex;
    margin: auto 0;
    margin-right: 10px;
    min-width: 400px;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
    font-size: 1.5rem;
    color: var(--clr-grey);
    white-space: nowrap;
  }
  .navMenu li {
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    line-height: 45px;
    margin: 0 20px;
    padding: 0 10px;
  }
  .navMenu li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
  }
  .navMenu li:first-child {
    white-space: nowrap;
  }
}
