.Nav {
  height: 60px;
}

.nav {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) auto minmax(max-content, 1fr);
  position: fixed;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  height: 60px;
  width: 100%;
  background-color: white;
  padding: 10px;
  z-index: 999;
}

.rightMenu {
  display: flex;
  justify-content: flex-end;
}

.menuToggle {
  display: flex;
  justify-content: flex-start;
  align-items: middle;
  margin: auto 0px auto 0px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  color: grey;
  font-size: 2rem;
  height: unset;
  width: fit-content;
  aspect-ratio: unset;
}

.logoName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 40px;
  margin: auto 10px auto 10px;
  border-radius: 20px;
  font-size: 3.8rem;
  font-family: "sam";
  transform: translateY(2px) translateX(-2px);
}

.space {
  flex-grow: 1;
}

.navMenu {
  display: none;
  border: 1px solid red;
  margin: auto 0;
  font-size: 1.5rem;
  white-space: nowrap;
}

.navMenu.desktop {
  display: block;
}

.navMenu li {
  display: inline-block;
  padding: 0 5px;
  margin: 0 20px;
  padding: 10px;
}

.navMenu li:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
}

.navMenu li:first-child {
  white-space: nowrap;
}
