.Profile {
  position: relative;
  flex-shrink: 0;
  box-sizing: content-box;
  height: 40px;
  width: 40px;
  margin: auto 0px auto 0px;
  cursor: pointer;
  user-select: none;
  color: var(--clr-grey);
  border-radius: 50%;
}

.Profile:hover {
  background-color: #f1f1f1;
}

.profile {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  height: 100%;
  font-size: 3rem;
}

@media only screen and (min-width: 700px) {
  .Profile {
    margin: auto 10px auto 0;
    height: 45px;
    width: 45px;
  }
}
