.profile-wrapper {
  position: relative;
  margin: 10px;
  box-sizing: content-box;
  cursor: pointer;
  user-select: none;
  height: 30px;
  width: 30px;
  margin: auto 0;
  color: var(--clr-grey);
}

.profile {
  position: relative;
  border-radius: 20px;
  background-color: var(--color-bg-test1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  margin-left: auto;
  margin-right: 0;
  height: 100%;
}

.profile .icon {
  font-size: 1.5rem;
}
