.NavSearch {
  margin: auto 10px auto 0;
}

.search {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  padding: 4px;
  color: grey;
}

.search.desktop {
  width: 350px;
}

.search .icon {
  font-size: 1.5rem;
}
