.NavSearch {
  flex-shrink: 0;
  margin: auto 5px auto 0px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.search {
  font-size: 1.8rem;
  height: 100%;
  color: grey;
}

.NavSearch:hover {
  background-color: #f1f1f1;
}

.search.desktop {
  width: 350px;
}

.search .icon {
  font-size: 1.5rem;
}

@media only screen and (min-width: 710px) {
  .NavSearch {
    height: 45px;
    width: 45px;
  }
}
