.Page .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 13px;
  padding: 10px;
  padding-top: 13px;
  background-color: #ffffff;
  background-color: #ffffff;
}

.Page .container > .item {
  border-radius: 12px;
  overflow: hidden;
}

.Page .item > .inner {
  border: 3px solid blue;
}

.Page img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.Page .item h1 {
  padding: 5px 0px;
  font-size: 1.5rem;
}

.Page .item .content {
  border: 2px solid #f5f5f5;
  padding: 7px 10px 10px 10px;
  line-height: 2rem;
  border-radius: 0px 0px 12px 12px;
  border-top: 0px;
  height: 160px;
  background-color: white;
}

.Page .content .inner {
  overflow: hidden;
  height: 100%;
}

@media only screen and (min-width: 700px) {
  .Page .container {
    gap: 20px;
    padding: 20px;
    padding-top: 23px;
  }
  .Page img {
    height: 200px;
  }
}
